
body
{
    font-family: "Impact", "Arial Black", sans-serif;
  	margin: 8px;
  	padding: 18% 0;
	border: 10px solid green;
	border-radius: 3px;
	text-align: center;
}

p
{
	margin-top: 24px;
    font-size: 18px;
}